html, body {
    color: #222222;
    background-color: #f9f9f9;
}

.container-ag {
    padding-top: 15%;
}

.container-principal {
    padding-top: 180px;
    padding-bottom: 60px;
}

.container-secundaria {
    padding-top: 30px;
}

.container-terciaria {
    padding-top: 10px;
    padding-bottom: 45px;
}

.container-exibe {
    padding-top: 100px;
    padding-bottom: 30px;
}

.container-exibe2 {
    padding-top: 100px;
    padding-bottom: 15px;
}

.container-second {
    padding-top: 140px;
    padding-bottom: 80px;
}

.container-third {
    padding-top: 100px;
}

.container-aguarde {
    padding-top: 120px;
    padding-bottom: 20px;
}

.container-entrada {
    padding-top: 50px;
}

.container-rodape {
    bottom: 0;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #1b1b1c;
    font-size: 12px;
    color: #888888;
}

.container-painel {
    padding-top: 80px;
    padding-bottom: 80px;
}

.atributos-rodape {
    position: fixed;
}

.atributos-rodape-relativo {
    position: static;
}

.navbar {
    background-color: #e95420;
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
}

::-webkit-input-placeholder {
    text-align: center;
}

:-moz-placeholder { /* Firefox 18- */
    text-align: center;
}

::-moz-placeholder {  /* Firefox 19+ */
    text-align: center;
}

:-ms-input-placeholder {
    text-align: center;
}

input {
    text-align: center
}

.form-horizontal .form-group {
    margin-right: 0;
}

.btn-t {
    color: #0f0f0f;
}

.bg-1 {
    display: inline-block;
}

.bg-2 {
    color: #b94a48;
}

.bg-3 {
    color: #c09853;
}

.bg-4 {
    color: #3a87ad;
}

.bg-5 {
    color: #468847;
}